  /* .container{ */
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.searchDiv {
    max-width: 700px; /* Adjust according to your layout */
  /* } */ 

  .shadow-right-bottom {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
  
  .shadow-right-bottom-md {
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4);
  }
  