
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
  font-family: "Inter", sans-serif;
}

.gradientBg{
  background: linear-gradient(to bottom, #004A98, #1067c4);

}
.btnHome{
  @apply py-3 px-8 bg-white font-semibold text-[#004A98] rounded hover:bg-[#9098a0] transition-all 
  duration-300;
}


.h1-large{
 font-size: 3rem;

}
.h1-about{
  margin-top: 30px;
  font-size: 3rem;
  color: #004A98;
}

.h2-large{
  
  font-size: 1.5rem;
 }

 
 
 .btnAbout{
  @apply py-3 px-8 bg-[#004A98]  font-semibold text-white rounded hover:bg-[#9098a0] transition-all 
  duration-300;
}